body {
    margin: 0;
    padding: 0;
    font-family: Netflix Sans, Helvetica, sans-serif;
    background-color: black;
    
  }

@font-face {
    font-family: 'Netflix Sans';
    src: url(NetflixSans_W_Rg.woff2) format('woff2');
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    margin: 0px 56px;
}

#logo {
    width: 150px;
}

#log-in {
    padding: 7px 17px;
    color: white;
    background-color: #e50914;
    border-radius: 3px;
    text-decoration: none;
}

#lang {
    padding: 8px 22px;
    border: 1px solid white;
    color: white;
    background-color: transparent;
    border-radius: 3px;
    margin-right: 32px;
    font-size: .875rem;
}

.globe::before {
    content: url("images/icons8-globo-16.png");
    position: relative;
    left: 25px;
    top: 3px; 
    pointer-events: none;
}

.arrow::before {
    content: url("images/icons8-ordine-decrescente-24.png");
    position: relative;
    right: 60px;
    top: 7px; 
    pointer-events: none;
}

/* main section */

.main-container {
    background-image: linear-gradient(to top, rgba(0, 0, 0, .9) 0%, rgba(0, 0, 0, .4) 50%, rgba(0, 0, 0, .8) 100%), url("images/background.jpg");
    height: 100vh;
    width: 100%;
    border-bottom: 8px solid #222;
}

.main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
    text-align: center;
    font-size: 50px;
}

h2 {
    color: white;
    text-align: center;
    font-size: 26px;
    font-weight: lighter;
}

h3 {
    color: white;
    /* text-align: center; */
    font-size: 19.2px;
    font-weight: lighter;
}

form {
    display: flex;
    align-items: center;
}

#mail {
    min-width: 450px;
    min-height: 60px;
    border: 1px solid;
}

#mail::placeholder {
    font-size: 16px;
    font-weight: 500;
    padding: 10px 10px 0;
}

button {
    background-color: #e50914;
    color: white;
    border: none;
    min-height: 60px;
    width: auto;
    font-size: 26px;
    padding: 0 26px;
}

/* second section */
section {
    border-bottom: 8px solid #222;
    padding: 70px 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section h1, h2{
    display: flex;
    text-align: left;
}

.description {
    width: 52%;
}

.description h1 {
    margin-bottom: 8px;
}

.description h2 {
    margin-top: 19.5px;
    margin-bottom: 6.5px;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#tv {
    max-width: 80%;
    background-size: cover;
    height: auto;
}

video {
    position: absolute;
    z-index: -1;
    width: 25%;
    height: auto;
}

/* third section */
.third-section .phone-img {
    width: 47%;
    position: relative;
}

#third-section .phone-img #smartphone {
    width: 90%;
}


.download-banner {
    width: 60%;
    height: 85px;
    background-color: black;
    border: 2px solid rgba(255,255,255,.25);
    position: absolute;
    bottom: 7%;
    right: 18%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.download-banner span {
    color: white;
}

#stranger-things {
    background-image: url("images/boxshot.png");
    height: 75px;
    width: 18%;
    background-size: cover;
}

.download-icon img {
    width: 70%;
    
}

#download-banner-text {
    line-height: 20px;
}

#download-banner-text span:nth-child(3) {
    color: #0071eb;
}

#third-section .download-icon {
    display: flex;
    justify-content: center;
    width: 20%;
}

#third-section .download-icon img {
    width: 100%;
    z-index: -1;
}

/* fourth section */
.video-container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.video-2 {
   /* object-fit: contain; */
   z-index: -1;
    width: 30%; 
   position: relative;
   /* max-width: 150px; */
   /* right: 15%; */
  
}

#tv2 {
    max-width: 90%;
    align-items: flex-end;
}

/* fifth section */

#kids {
    max-width: 600px;
}

.description {
    padding-left: 48px;
    text-align: left;
    width: 52%;
}

/* faq */
.faq-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accordion {
    max-width: 65%;
}

.accordion-item {
    background-color: #303030;
    margin-bottom: 1rem;
    padding: .8em 2.2em .8em 1.2em;
}

.accordion-link {
    color: white;
    font-size: 26px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}

.answer {
    color: white;
    font-size: 26px;
}

.accordion-link .ion-md-close{     /* nasconde l'icona della risposta */
    display: none;
}

.answer {                      /* nasconde il paragrafo di risposta */
    max-height: 0;
    overflow: hidden;
    position: relative;
}

.accordion-item:target .answer {      /* mostra il paragrafo di risposta */
    max-height: 20rem;
}

.accordion-item:target .accordion-link .ion-md-add {      /* nasconde l'icona + */
    display: none;
}

.accordion-item:target .accordion-link .ion-md-close { /* mostra l'icona x */
    display: block;
}

/* footer */
footer {
   padding: 70px 50px 0px 45px;
   max-width: 1000px;
   margin: 0 auto;
}

footer p {
    color: #757575;
    font-size: 16px;
    margin-bottom: 30px;
}

footer ul {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding-left: 0px;
}

footer ul li {
    margin-bottom: 16px;
}

footer ul li a {
    color: #757575;
    font-size: 13px;
    text-decoration: none;
}

      /* select language */
#footer-lang {
    color: #757575;
    border: 1px solid #757575;
    background-color: black;
    padding: 12px 26px 12px 50px;
    font-size: 16px;
    margin-top: 20px;
    background-image: url(images/icons8-globo-24.png);
    background-repeat: no-repeat;
    background-position: 0.4em center;
}

.country {
    font-size: 13px;
    margin-top: 24px;
    margin-bottom: 13px;
}

.arrow2::before {
    content: url("images/icons8-gray-24.png");
    position: relative;
    right: 30px;
    top: 6px; 
    pointer-events: none;
} 