:root {
    background-color: black;
}

h1 {
    color: white;
    text-align: center;
    font-size: 40px;
}

h2 {color: white;
    text-align: center;
    font-size: 26px;

}

h3 {
    color: white;
    text-align: center;
    font-size: 23px;
}

#first {
    background-image: url(images/background.jpg);
    height: 100vh;
    display: flexbox;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

footer {
    padding: 70px 45px 0px;
}

ul {
    list-style: none;
    color: grey;
    display: grid;
    grid-template-columns: 35% 35% 35%;
}

footer>p {
    color: grey;
}

footer>select {
    color: grey;
    background-color: transparent;
    font-size: 16px;
}

#logo {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 1%;
    
}

header{
    display: flex;
    flex-direction: row-reverse;
}

button {
    background-color: red;
    border: transparent;
    color: white;
    border-radius: 3px;
    height: 35px;
    width: 80px;
    font-size: 1rem;
}


#lang-log>select {
    color: white;
    background-color: transparent;
    font-size: 16px;
    height: 35px;
    width: 80px;


}

#kids-section {
    height: 70vh;
    padding: 70px 45px;
}

article {
    height: 70vh;
    padding: 70px 45px;
}


#faq {
    height: 70vh;
    padding: 70px 45px;
}



#mail {
    padding: 10px 10px 0px;
    text-align: start;
    height: 23px;
    width: 300px;
       
}

#faq>ul {
    color: white;
}

ul>button {
    background-color: grey;
}

.alignleft {
    float: left;
}

.alignright {
    float: right;
}

.ultimo {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}