:root {
    background-color: black;
}

h1 {
    color: white;
    text-align: center;
    font-size: 40px;
}

h2, h3 {
    color: white;
    text-align: center;
}

#first {
    background-image: url(images/background.jpg);
    height: 100vh;
}

ul {
    list-style: none;
    color: grey;
    display: grid;
    grid-template-columns: 35% 35% 35%;
}

footer>p {
    color: grey;
}

footer>select {
    color: grey;
    background-color: transparent;
    font-size: 16px;
}

#logo {
    position: absolute;
    top: 0px;
    left: 0px;
}

header{
    display: flex;
    flex-direction: row-reverse;
}

button {
    background-color: red;
    border: transparent;
    color: white;
    border-radius: 3px;
}

#lang-log>select {
    color: white;
    background-color: transparent;
    font-size: 16px;
}

#kids-section {
    height: 70vh;
}



#faq {
    height: 70vh;
}